body{
	background-color: lightblue;
}
.atas{
	width: 500px;
	text-align: center;
}
h1{
	text-align: center;
}
.gambar img{
	width: 50%;
	text-align: center;
}
.bawah{
	text-align: center;
	width: 800px;
}